body {
    padding: 0;
    margin: 0;
}

.header {
    display: inline-flex;
    width: 100%;
    transition: all .2s ease;
    /* width: calc(100vw - 21.8em); */
    height: 5vw;
    background-color: transparent;
    font-family: 'Lato';
        position: fixed;
    /* Usar o z-index para não ter overlap é válido? */
    z-index: 1;
}

.toggle{
    border: 1px;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 20%;
    background-color: #cf6782;
    display: none;
    cursor: pointer;
    position: relative;
    left: 100%;
    margin-right: 10%;
}

.hamburger-menu{
    width: 12px;
    height: 2px;
    background-color: black;
    margin: 3px 0 3px 0;
    border-radius: 30%;
}

.header-color{
    background-color: #c13c5e;
    transition: all .2s ease;
}

.header .logo-container {
    /* Mudei isso pra tentar deixar mais perto de responsivo
    oq acha? Não está 100%
    width: 10em;
    padding: 1em;*/

    margin-left: 10%;
    width: 10vw;
    align-self: center;
    position: absolute;
}

.header .menu{
    display: inline-flex;
    margin-left: auto;
    margin-right: 10%;
    font-size: 1.3vw;
    left: 65%;
    align-self: center;
}

.header li{
    padding: 0.5em;
    list-style-type: none;
    cursor: pointer;
}

.button-login{
    background-color: #cf6782;
    width: 2.5em;
    height: 1em;
    border-radius: 20%;
}

.fundo{
    background-image: url("assets/ImagemDeFundo.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;

    position: relative;
    text-align: center;
    color: #2e110f;

    width: 100%;
    padding: 0;
    margin: 0;
}

.fundo img{
    width: 100%;
    height: auto;
}

.titulo{
    font-size: 4vw;
    font-family: 'Poller One';

    position: absolute;
    top: 10%;
    right: 30%;
}

.descricao {
    font-family: 'Lato';
    font-size: 2vw;

    position: absolute;
    top: 25%;
    right: 20%;
}

.first-content{
    width: 100%;
    height: 10%;
    background-color: #3684a2;
}

.first-content h3{
    margin: 0;
}

.second-content{
    width: 100%;
    height: 10%;
    background-color: #fe6d73;
}

.second-content h3{
    margin: 0;
}

.first-content, .second-content{
    height: 300px;
    font-size: 15px;
}

.imagem-fundo-verde{
    position: relative;
    left: 60%;
    width: 20%;
    height: auto;
}

div h3 {
    width: 40%;
}

@media screen and (max-width: 560px){
    .header{
        height: 8vw;
    }
}

@media screen and (max-width: 700px){
    .toggle{
        display: block; 
    }

     .menu li{
        display: none;
    } 

    /* .menu li{
        position: relative;
        width: 100%;
        display: flex;
    } */
}

